{require_otp_vsn, "R17"}.

{port_env, [
              {"CFLAGS", "$CFLAGS -DGEOIPDATADIR=\"\\\"\\\"\""},
              {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)", "LDFLAGS", "$LDFLAGS -lstdc++"}
            ]}.

{port_specs, [
                {"priv/geoip.so", ["c_src/*.c", "c_src/*.cpp"]}
            ]}.
